.animated-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #e0e0e0; /* Light gray background */
  z-index: -1; /* Ensure background is behind other content */
}
