/* WelcomeText.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap");

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.welcome-text {
  position: absolute;
  top: 14%;
  left: 4%;
  text-align: left;
  z-index: 1;
}

.description-text {
  position: absolute;
  top: 17%;
  right: 4%;
  text-align: right;
  z-index: 1;
}

.welcome-text h1,
.welcome-text h2,
.welcome-text h3,
.description-text p {
  margin: 0;
  font-weight: inherit;
  color: #000;
  opacity: 0;
  animation: fadeIn 2.3s forwards;
}

.welcome-text h1 {
  font-size: 8rem;
  animation-delay: 0s;
  line-height: 1.1;
}

.welcome-text h2 {
  font-size: 8rem;
  animation-delay: 1s;
  line-height: 1.1;
  margin-top: 0.5rem;
}

.welcome-text h3 {
  font-size: 8rem;
  animation-delay: 2s;
  line-height: 1.1;
  margin-top: 0.5rem;
}

.description-text p {
  font-size: 1.5rem;
  animation-delay: 2.5s;
  line-height: 0.8;
  margin-top: 1rem;
}

.description-text p:nth-child(2) {
  animation-delay: 3s;
}

.description-text p:nth-child(3) {
  animation-delay: 3.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
